@font-face {
  font-family: 'zoom';
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/fonts.ttf?91650004') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zoom';
    src: url('../font/zoom.svg?91650004#zoom') format('svg');
  }
}
*/

 [class^="cricon-"]:before, [class*=" cricon-"]:before {
  font-family: "zoom";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.cricon-cancel:before { content: '\e800'; } /* '' */
.cricon-zoom-in:before { content: '\e801'; } /* '' */
.cricon-zoom-out:before { content: '\e802'; } /* '' */


/*reset*/
.clean-reader-body * {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*end reset*/

.clean-reader-body {
  overflow: hidden;
}
.clean-reader-body h1 {
  font-weight: 500;
  font-size: 2em;
  margin: 30px 0 10px 0;
}
.clean-reader-body h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 20px 0 10px 0;
}
.clean-reader-body h3 {
  font-weight: 300;
  font-size: 1.2em;
  margin: 15px 0 10px 0;
}
.clean-reader-body body {
  width: 100% !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

.clean-reader-body .max-pre {
  z-index: 2147483647;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
}

.clean-reader-body-prepare .clean-reader-target * {
  background-color: transparent !important;
}

.clean-reader-target {
  background: #f0f0f0 !important;
  position: relative;
}

.clean-reader-mask {
  z-index: 2147483646;
  width: 100%;
  height: 105%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background:white;
}
.clean-reader-container {
  z-index: 2147483646;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  top: 0;
  background:white;
}

.clean-reader-container-inner {
  width: 800px;
  margin: 10px auto;
  padding: 20px;
  zoom: 100%;
  line-height: 1.5em;
  border: 1px solid #ededed;
  box-shadow: 0px 0px 1px 4px#eee;
  border-radius: 5px;
}
.clean-reader-container-inner pre {
  padding: 10px;
}
.clean-reader-container-inner pre code {
  overflow: auto;
}

.clean-reader-container-inner ul, .clean-reader-container-inner ol {
  margin-left: 20px;
}
.clean-reader-container-inner img {
  max-width: 100%;
}

/* fix content margin */
.clean-reader-container-inner-content > * {
  padding: 0 !important;
  margin: 0 !important;
}

/* fix content's first element margin top */
.clean-reader-container-inner-content > * > :first-child {
  margin-top: 0 !important;
}

/* fix content breaking width */
.clean-reader-container-inner-content * {
  max-width: 100% !important;
}

/* fix text align */
.clean-reader-container-inner-content div {
  text-align: left !important;
}

/* fix content overflow */
.cr-clear {
  clear: both;
}



.clean-reader-toolbar {
  position: fixed;
  right: 20px;
  top: 5px;
}

.clean-reader-toolbar ul {
  margin: 0;padding: 0;
}

.clean-reader-toolbar li {
  margin: 0;padding: 0;
  list-style: none;
  text-align: center;
}

.clean-reader-close,
.clean-reader-zoom-out,
.clean-reader-zoom-in {
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  color:#ccc;
  font-weight: 200;
  display: inline-block;
}

.clean-reader-close:hover,
.clean-reader-zoom-out:hover,
.clean-reader-zoom-in:hover {
  color:gray;
}